.btn-outline-primary {
    border: none;
    border-color: none;
    background-color: transparent;
}

.btn-outline-primary:hover {
    border: none;
    border-color: none;
    background-color: transparent;
}

.btn-outline-primary:focus {
    border: none;
    border-color: none;
    background-color: transparent;
    box-shadow: none;
}

.btn-outline-primary:active {
    border: none;
    border-color: none;
    background-color: transparent;
    transform: none;
}

.btn-outline-primary:focus:not(:focus-visible) {
    box-shadow: none;
}

.btn-outline-primary:visited {
    background-color: transparent;
}

.btn-outline-primary:link {
    background-color: transparent;
}

.btn-outline-primary:focus-visible {
    background-color: transparent;
    box-shadow: none;
}